Django==6.0.6
djangorestframework==3.17.1

channels==4.3.2
daphne==4.2.2
channels-redis==4.3.0

redis==8.0.0
asgiref==3.11.1
dj-database-url==3.1.2
gunicorn==26.0.0
pillow==12.2.0
psycopg2-binary==2.9.12
sqlparse==0.5.5
whitenoise==6.12.0

django-cors-headers
feedparser
requests
beautifulsoup4